<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    
        
    <button id="klik" type="submit">klik ;)</button>        
    


    <div class="container mt-5">
        <h1 class="text-center my-4">CV Creator</h3>
        <form>
            <h5 class="text-center">Personal info</h5>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <input type="email" class="form-control" placeholder="E-mail">
                </div>
                <div class="col-md-6">
                    <input type="number" class="form-control" placeholder="Phone number">
                    
                </div>
            </div>
            
            <div class="row mt-2">
                <div class="col-md-6">
                    <label for="">Birthday</label>
                    <input type="date" class="form-control" placeholder="Birthday">
                </div>
                <div class="col-md-6">
                    <label for="">Your city</label>
                    <input type="city" class="form-control" placeholder="City">
                </div>
            </div>

        </form>

       



        <!-- Experience table -->

        <div id="experience-table"> 

        </div>


        <!-- Education table -->

        <div id="education-table">

            <div class="card text-center mt-2">
                <div class="card-body">
                  <h5 class="card-title">Name of University</h5>
                  <h6>Subject</h6>
                  <p class="card-text">Description of what you have learned at university.</p>
                </div>
                <div class="card-footer text-muted">
                  2015 - 2018
                </div>
            </div>

        </div>
        
             

            
            
       
    
        <!-- SELECT Experience OR Education -->
        <ul class="nav nav-tabs mt-4">
            <li class="nav-item" id="experience-button">
              <a class="nav-link active" aria-current="page" >Experience</a>
            </li>
            
            <li class="nav-item" id="education-button">
              <a class="nav-link" >Education</a>
            </li>
        </ul>

        <!-- EXPERIENCE CONTAINER -->
        <div id="container-experience">

            <h5 class="text-center">Experience info</h5>
            <div class="row mt-2">
                <div class="col-md-6">
                    <input type="text" id="company-name" class="form-control" placeholder="Company name">
                </div>
                <div class="col-md-6">
                    <input type="text" id="company-position" class="form-control" placeholder="Job">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    <label for="">Company's place</label>
                    <input type="text" id="company-place" class="form-control" placeholder="Place">
                </div>
                <div class="col-md-4">
                    <label for="">From date</label>
                    <input type="date" id="company-from-date" class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="">To date</label>
                    <input type="date" id="company-to-date" class="form-control">
                </div>
                
                
            </div>
            <div class="row mt-2">
                <div class="col">
                    <textarea type="text" id="company-description" class="form-control" placeholder="Description.."></textarea>
                </div>
                
            </div>
            <button class="btn btn-primary" id="add-experience">Add</button>
        </div>
        
        <!-- EDUCATION CONTAINER -->
        <div id="container-education" class='hide'>

            <h5 class="text-center">Education info</h5>
            <div class="row mt-2">
                <div class="col-md-6">
                    <input type="text" id="university-name" class="form-control" placeholder="University name">
                </div>
                <div class="col-md-6">
                    <input type="text" id="subject" class="form-control" placeholder="Subject">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <label for="">From date</label>
                    <input type="date" id="from-date" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="">To date</label>
                    <input type="date" id="to-date" class="form-control">
                </div>
                
                
            </div>
            <div class="row mt-2">
                <div class="col">
                    <textarea type="text" id="description" class="form-control" placeholder="Description.."></textarea>
                </div>
                
            </div>
            <button class="btn btn-primary" id="add-experience">Add</button>
        </div>
    
    

    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        
    
    
    


        
        

        // POBIERANIE DANYCH Z EXPERIENCE

        function count_exp_elements(){
            const companyList = []
            elements = document.querySelectorAll(".exp-element")
            elements.forEach(function(element){
                title = element.querySelector('.companyName').textContent
                place = element.querySelector('.placeCompany').textContent
                position = element.querySelector('.jobPosition').textContent
                descrioption = element.querySelector('.desExperience').textContent
                fromDate = element.querySelector('.company-from-date').textContent
                toDate = element.querySelector('.company-to-date').textContent
                elementList = [title, place, position, fromDate, toDate, descrioption]
                companyList.push(elementList)
            }) 
            return companyList
        }


        // ADDING EXPERIENCE TABLE
        const tableExp = document.getElementById('experience-table')

        document.getElementById('add-experience').addEventListener('click', function(){
            const companyName = document.getElementById('company-name').value ;
            const jobPosition = document.getElementById('company-position').value;
            const placeCompany = document.getElementById('company-place').value;
            const desExperience = document.getElementById('company-description').value
            const fromDate = document.getElementById('company-from-date').value
            const toDate = document.getElementById('company-to-date').value

            const div = document.createElement('div')
            div.innerHTML = `<div class="card text-center mt-2 exp-element">
                <div class="card-body">
                  <h5 class="card-title companyName">${companyName}</h5>
                  <h6 class="placeCompany">${placeCompany}</h6>
                  <h6 class="jobPosition">${jobPosition}</h6>
                  <p class="card-text desExperience">${desExperience}</p>
                </div>
                <div class="card-footer text-muted">
                    <span class="company-from-date">${fromDate}</span> - <span class="company-to-date">${toDate}</span>
                </div>
            </div>`
            tableExp.appendChild(div)

            document.getElementById('company-name').value = ''
            document.getElementById('company-position').value = ''
            document.getElementById('company-place').value = ''
            document.getElementById('company-description').value = ''
        } )



        // Zmiana pomiędzy dodawaniem Experience / Education
        {
            const expBtn = document.querySelector('#experience-button a')
            const eduBtn = document.querySelector('#education-button a')
            const expContainer = document.querySelector('#container-experience')
            const eduContainer = document.querySelector('#container-education')

            expBtn.addEventListener('click', function(){
                console.log('test')
                expBtn.classList.add('active')
                eduBtn.classList.remove('active')
                expContainer.classList.remove('hide')
                eduContainer.classList.add('hide')
            })

            eduBtn.addEventListener('click', function(){
                console.log('test')
                eduBtn.classList.add('active')
                expBtn.classList.remove('active')
                eduContainer.classList.remove('hide')
                expContainer.classList.add('hide')
            })
        }

       


        // SENDING DATA TO PYTHON
        
        $("#klik").click(function(e){
            var data = count_exp_elements();
            $.ajax({
                
                url:'/send',
                type:'POST',
                
                contentType: 'application/json',
                data : JSON.stringify(data)
            });
            e.preventDefault();
        })




    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>